.activeNav{
    color:#4ff900 ;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
}
.defaultNav{
    color:#eee;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
}
.loginHeader{
    font-size: 15px;
    font-weight:500;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
}
.headerSubscribe{
    font-size: 15px;
    font-weight:500;
    color: #4ff900 ;
    text-decoration: none;
    padding: 5px 30px; 
    background: #724dd7;
    border-radius: 20px;
    width:fit-content;
}
.headerSubscribe:hover{
    background: #4ff900;
}